.form-container {
  width: 400px;
  height: 504px;
  border-radius: 16px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 50px;
  gap: 20px;
}

.form-container > img {
  width: 132px;
  height: 32px;
}

.form-container input {
  outline: none;
  border: 0;
  color: #4c4c4c;
  width: 82%;
}

#email,
#name {
  margin-bottom: 10px;
  margin-top: 24px;
}

.form-container input::placeholder {
  color: #a5a5a5;
  font-weight: 300;
  margin-bottom: 16px;
}

.input-container {
  height: min-content;
}

.input-container::after {
  content: "";
  width: 296px;
  height: 1px;
  background-color: rgba(76, 76, 76, 1);
  display: block;
  margin: 0 auto;
}

.form-container > div {
  width: 100%;
  padding: 0 4px;
}

.form-container label {
  display: block;
  font-weight: 600;
  font-size: 16px;
}
