.form-container {
  width: 400px;
  height: min-content;
  border-radius: 16px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 50px;
  gap: 20px;
}

.form-container > img {
  width: 132px;
  height: 32px;
}

.form-container input {
  outline: none;
  border: 0;
  color: #050505;
  width: 82%;
}

.form-label {
  margin-bottom: 10px;
  margin-top: 24px;
}

.form-container input::placeholder {
  color: #a5a5a5;
  font-weight: 300;
  margin-bottom: 16px;
}

input {
  padding-left: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input-container {
  height: min-content;
  margin: 8px 0;
}

.input-container::after {
  content: "";
  width: 296px;
  height: 1px;
  background-color: rgba(76, 76, 76, 1);
  display: block;
  margin: 0 auto;
}

.form-container > div {
  width: 100%;
  padding: 0 4px;
}

.form-container label {
  display: block;
  font-weight: 600;
  font-size: 16px;
}
