@import "./form.css";
@import "./buttons.css";
@import "./alignments.css";
@import "./margins.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f9;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-sign {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
}
