.mb-sm {
  margin-bottom: 8px;
}
.mb-md {
  margin-bottom: 16px;
}
.mb-lg {
  margin-bottom: 32px;
}
.mb-xl {
  margin-bottom: 64px;
}
.mt-sm {
  margin-top: 8px;
}
.mt-md {
  margin-top: 16px;
}
.mt-lg {
  margin-top: 32px;
}
.mt-xl {
  margin-top: 64px;
}
.mr-sm {
  margin-right: 8px;
}
.mr-md {
  margin-right: 16px;
}
.mr-lg {
  margin-right: 32px;
}
.mr-xl {
  margin-right: 64px;
}
.mx-sm {
  margin: 0 8px;
}
.mx-md {
  margin: 0 16px;
}
.mx-lg {
  margin: 0 32px;
}
.mx-xl {
  margin: 0 64px;
}
.ml-sm {
  margin-left: 8px;
}
.ml-md {
  margin-left: 16px;
}
.ml-lg {
  margin-left: 32px;
}
.ml-xl {
  margin-left: 64px;
}
.my-sm {
  margin: 8px 0;
}
.my-md {
  margin: 16px 0;
}
.my-lg {
  margin: 32px 0;
}
.my-xl {
  margin: 64px 0;
}
