.red {
  border: 2px solid #ff4d4d;
  color: #ff4d4d;
}

.red:hover {
  background-color: rgba(255, 77, 77, 0.1);
}

.green {
  border: 2px solid #4ec06e;
  color: #4ec06e;
}

.green:hover {
  background-color: rgba(78, 192, 110, 0.1);
}

.blue {
  border: 2px solid #5197b5;
  color: #5197b5;
}

.blue:hover {
  background-color: rgba(81, 151, 181, 0.1);
}

.count-div {
  justify-content: space-between;
  padding: 32px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 264px;
  height: 80px;
  cursor: pointer;
}

.count-type {
  font-weight: 600;
  font-size: 14px;
}

.count {
  font-weight: 600;
  font-size: 36px;
}

.counts-container {
  width: 420px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding-bottom: 32px;
  cursor: pointer;
}

.counts-container-header {
  background: #374952;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 48px;
  gap: 16px;

  font-size: 20px;
  color: #ffffff;
}
