.charges-display-details {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #9dbbc3;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #ffffff;
  padding: 6px 24px;
  box-sizing: border-box;
  border-radius: 8px;
}

.charges-content {
  margin: 104px 60px 0;
  padding: 0;
  z-index: -99;
}
