.clients-content {
  margin: 0 60px;
  z-index: -99;
}

.clients-content button {
  width: 240px;
  margin-left: 24px;
}

.add-clients-container {
  background-color: white;
  padding: 32px 0;
  border-radius: 16px;
}

.add-clients-form {
  padding: 0 200px;
}

.add-clients-form-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #374952;
  margin-bottom: 4px;
}

.add-clients-form input {
  background: #ffffff;
  border: 1px solid #374952;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  margin-bottom: 32px;
  width: 100%;
  outline: none;
}

.add-clients-form input:focus {
  border: 1px solid #da0175;
}

.add-clients-input-container {
  width: 100%;
}

.gap {
  gap: 16px;
}

.flex-end {
  align-self: flex-end;
}
