.edit-profile-form-container {
  color: #374952;
}

.title-form {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
}

.close-form {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #374952;
  align-self: flex-end;
}
