.edit-client {
  cursor: pointer;
}

.client-details img {
  width: 16px;
  height: 16px;
}
.client-detailing {
  background-color: white;
  color: #4c4c4c;
  padding: 64px 40px;
  height: 80%;
  border-radius: 8px;
}

.client-detailing-info {
  justify-content: space-between;
}

.client-detailing-header {
  justify-content: space-between;
}

.client-detailing-header p {
  font-weight: bold;
}

.email-phone {
  gap: 16px;
}

.client-infos {
  width: 100%;
}

.client-charge {
  background: #f9f9f9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 90px;
  padding: 16px;
  justify-content: space-between;
}

.client-charge-header {
  justify-content: space-between;
}
.client-charge-footer {
  justify-content: space-between;
}

.client-charges-info {
  margin-left: auto;
  width: 100%;
  padding: 0 40px 0 70px;
  height: 300px;
  overflow-y: scroll;
}

.client-charge-id {
  font-weight: bold;
}

.client-charge-value {
  font-weight: 600;
}

.client-charge-date {
  font-weight: 500;
}
