.charges-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.charge-id {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #4c4c4c;
}

.charge-status {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
}

.pago {
  color: #4ec06e;
}

.pendente {
  color: #5197b5;
}

.vencido {
  color: #ff4d4d;
}
